#admissionProgressContainer {
  width: 100%;
  background-color: #ddd;
}

#admissionProgress {
  width: 1%;
  height: 30px;
  background-color: lightskyblue;
}

.upperCardContainer {
  display: flex;
}

.universityImage {
  width: 15%;
  min-width: 15%;
  max-width: 15%;
  margin-right: 5%;
}

.namingContainer {
  
}

.schoolName {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.cityStateContainer {
  width: fit-content;
  padding: 1px 2px;
  background-color: lightblue;
  border-radius: 5px;
}

.cityState {
  font-family: Arial, Helvetica, sans-serif;
}

.studentContainer {
  display: flex;
}

.schoolContainer {
  display: flex;
  flex-direction: column;
}

.studentLabel {
  font-family: Arial, Helvetica, sans-serif;
}

.studentCount {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: purple;
}

.admissionContainer{
  display: flex;
  flex-direction: column;
}

.admissionLabel {
  font-family: Arial, Helvetica, sans-serif;
}

.admissionCount {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: purple;
}