#admissionProgressContainer {
  width: 100%;
  background-color: #ddd;
}

#admissionProgress {
  width: 1%;
  height: 30px;
  background-color: lightskyblue;
}

.upperCardContainer {
  display: flex;
}

.universityImage {
  width: 18%;
  min-width: 7%;
}

.namingContainer {
  
}

.schoolName {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.cityStateContainer {

}

.cityState {

}

.studentContainer {
  display: flex;
}

.schoolContainer {
  display: flex;
  flex-direction: column;
}

.studentLabel {

}

.studentCount {

}

.admissionContainer{
  display: flex;
  flex-direction: column;
}

.admissionLabel {

}

.admissionCount {

}